/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

header {
  background-color: #fff;
  overflow: hidden;
  .wrapper {
    .content {
        padding: 50px 0;
      margin-bottom: 20px;
      .logo-name {
        float: left;
        padding-top: 10px;
        font: bold 22px/0 'Liberation Sans', sans-serif;
        & span {
          color: #f36b47;
        }
      }
      .menu-list {
        text-transform: uppercase;
        float: right;
        ul {
          li {
            position: relative;
            //float: left;
            display: inline;
            margin-right: 30px;
            &:hover {
              border-bottom: 2px solid #f36b47;
              z-index: 1;
              &:after {
                position:absolute;
                top: 9px;
                left: 40%;
                font-family: 'FontAwesome';
                content: "\f0dd";
                color: #f36b47;
                z-index: -1;
              }
            }
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
section.slider {
  .wrapper {
    margin: 0;
    .content {
      position: relative;
      background: #ccc url("../images/nature-full-hd.jpg") center top no-repeat;
      background-size: cover;
      overflow: hidden;
      //background-color: #ccc;
      &:after {
        position: absolute;
        top: 40%;
        left: 5%;
        font-size: 70px;
        font-family: 'FontAwesome';
        content: '\f053';
        color: #9f503d;
      }
      &:before {
        position: absolute;
        top: 40%;
        right: 5%;
        font-size: 70px;
        font-family: 'FontAwesome';
        content: "\f054";
        color: #9f503d;
      }
      .slide-name {
        width: 600px;
        margin: 200px 0;
        position: relative;
        top: 40%;
        left: 22%;
        h2 {
          display: inline-block;
          position: relative;
          left: 40%;
          top: 40%;
          padding: 10px 60px;
          background-color: rgba(black,0.5);
          font: bold 26px/1.5em 'Ubuntu Light', sans-serif;
          color: white;
          text-align: center;
          text-transform: capitalize;
          margin-bottom: 20px;
          & + h2 {
            display: inline-block;
            left: 30%;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
section.description {
  .wrapper {
    margin: 0;
    .content {
      padding: 50px 20px;
      background-color: #f36b47;
        h2 {
          font: 26px/1.5em 'Liberation Sans', sans-serif;
          color: white;
          text-align: center;
          & > span {
            text-transform: uppercase;
            font-weight: bold;
            border-bottom: 0.1px solid white;
          }
        }
    }
  }
}
section.about-us {
  .wrapper {
    .content {
      h2 {
        margin: 50px 0;
        font: bold 26px 'Liberation Sans', sans-serif;
        color: #484848;
        //border-bottom: 2px solid #f36b47;
        text-align: center;
      }
      p.descr {
        position: relative;
        left: 200px;
        margin-bottom: 100px;
        width: 1000px;
        font: 500 16px 'Liberation Sans', sans-serif;
        color: #a3a2a2;
        text-align: center;
      }
      ul {
        margin: 0 8%;
        li {
         //float: left;
          display: inline-block;
          width: 250px;
          margin-right: 70px;
          span {
            display: block;
            position: relative;
            //left: 20%;
            font: 20px 'Liberation Sans', sans-serif;
            text-align: center;
            &:before {
              position: absolute;
              font-family: "FontAwesome";
              bottom: 40px;
              //left: 40%;
              color: #f36b47;
              font-size: 30px;
              display: inline-block;
              width: 130px;
              text-align: center;
            }
          }
          p {
            margin-top: 10px;
            margin-bottom: 50px;
            color: #a3a2a2;
            font-size: 14px;
            text-align: justify;
            line-height: 1.3em;
          }
          &:first-child {
            span:before {
              content: "\f00b";
              width: 170px;
            }
          }
          &:nth-child(2) {
            span:before {
              content: "\f121";
            }
          }
          &:nth-child(3) {
            span:before {
              content: "\f245";
            }
          }
          &:last-child {
            margin-right: 0;
            span:before {
              content: "\f095";
            }
          }
        }
      }
    }
  }
}
section.portfolio {
  overflow: hidden;
  .wrapper {
    .content {
      h2 {
        //display: inline-block;
        //margin: 50px 0 50px 40%;
        //font: bold 26px 'Liberation Sans', sans-serif;
        //color: #484848;
        //border-bottom: 2px solid #f36b47;
        margin-bottom: 20px;
        font: bold 26px 'Liberation Sans', sans-serif;
        color: #484848;
        //border-bottom: 2px solid #f36b47;
        text-align: center;
      }
      p.descr {
        position: relative;
        left: 400px;
        margin-bottom: 40px;
        width: 700px;
        font: 16px 'Liberation Sans', sans-serif;
        color: #a3a2a2;
        text-align: center;
      }
      ul.list-project {
        margin: 0 0 0 140px;
        li {
          float: left;
          margin-right: 70px;
          img {
            box-shadow: 0 0 5px rgba(0,0,0,0.5);
          }
        }
      }
      ul.description-project {
        margin: 0 0 100px 140px;

        li {
          float: left;
          margin-top: -2px;
          margin-right: 71px;
          margin-bottom: 50px;
          padding: 0 7px 3px;
          width: 235px;
          background-color: #eee;
          &:last-child {
            margin-right: 0;
          }
          //span {
          //  display: block;
          //  position: relative;
          //  //left: 20%;
          //  font: bold 20px 'Liberation Sans', sans-serif;
          //  text-align: center;
          //  color: #f36b47;
          //  &:before {
          //    position: absolute;
          //
          //    bottom: 40px;
          //    //left: 40%;
          //    color: #f36b47;
          //    font-size: 30px;
          //    display: inline-block;
          //    width: 130px;
          //    text-align: center;
          //  }
          //}
          a {
            span.name-project {
              display: block;
              position: relative;
              padding: 10px 10px 5px 0;
              font: bolder 16px 'Liberation Sans', sans-serif;
              text-align: right;
              color: #f36b47;
              border-bottom: 1px solid #d5d3d3;
              &:after {
                position: absolute;
                bottom: 34px;
                left: -8px;
                background-color: #f36b47;
                opacity: 0.8;
                height: 105px;
                width: 250px;
                font-family: "FontAwesome";
                content: "\f0c1";
                font-size: 50px;
                color: white;
                text-align: center;
                padding-top: 60px;
              }
            }
          }
          p {
            margin-top: 10px;
            padding-bottom: 5px;
            padding-right: 10px;
            font-size: 13px;
            text-align: right;
            color: #605f5f;
          }

        }
      }
    }
  }
}
section.talk-us
{
  margin-top: 50px;
  .wrapper {
    margin: 0;
    .content {
      padding: 50px;
      background-color: #7a7a7a;
      clear: both;
      text-align: center;
      h2 {
        margin-top: 20px;
        margin-bottom: 30px;
        font: 72px 'Liberation Sans', sans-serif;
        //text-align: center;
        text-transform: capitalize;
        color: #fff;
        span {
          color: #f36b47;
        }
      }
      p {
        display: inline-block;
        font-size: 18px;
        width: 850px;
        color: white;
        //text-align: center;
        line-height: 1.5em;
      }
    }
  }
}
section.contact-us {
  overflow: hidden;
  .wrapper {
    .content {
      text-align: center;
      .address-information {
        h2 {
          margin: 50px 0;
          font: bold 26px 'Liberation Sans', sans-serif;
          color: #484848;
          //border-bottom: 2px solid #f36b47;
          text-transform: capitalize;
        }
        p.descr {
          display: inline-block;
          margin-bottom: 100px;
          width: 900px;
          font: 500 16px 'Liberation Sans', sans-serif;
          color: #a3a2a2;
        }
      }
      .map {
        float: left;
      }
      .contact {
        float: left;
        form {
          h3 {
            margin-left: 40px;
            text-align: left;
            font: bold 20px 'Liberation Sans', sans-serif;
            margin-bottom: 20px;
          }
          ul {
            margin-left: 120px;
            li {
              &:nth-child(3), &:first-child, &:nth-child(2) {
                margin-bottom: 20px;
              }
              div.list-address {
                text-align: left;
                width: 289px;
                span{
                  display: inline;
                  color: #9d9c9c;
                  &.fa {
                    margin-right: 20px;
                    font-size: 20px;
                    color: #f27554;
                  }
                }
              }
              input[type="text"], input[type="email"]{
                display: inherit;
                margin-bottom: 5px;
                padding: 15px;
                width: 300px;
                border: 1px solid #cac6c6;
                font-size: 14px;
                background-color: #f0f0f0;
              }

              textarea {
                padding: 15px;
                width: 500px;
                height: 150px;
                border: 1px solid #cac6c6;
                font-size: 14px;
                background-color: #f0f0f0;
                overflow: hidden;
                resize: none;
              }
            }

          }
          input[type="submit"] {
            float: left;
            margin-left: 120px;
            margin-top: 5px;
            padding: 10px 30px;
            background-color: #f27554;
            border: none;
            border-radius: 5px;
            font-size: 18px;
            color: white;
          }
        }
      }
    }
  }
}
footer {
  position: relative;
  bottom: -200px;
  margin-top: 70px;
  .wrapper {
    margin: 0;
    .content {
      position: relative;
      bottom: 90px;
      clear: both;
      background-color: #f27554;
      h4 {
        position: relative;
        padding: 30px 0;
        text-align: center;
        color: #fff;
      }
    }
  }
}




@media (min-width: 765px) {
}
@media (min-width: 768px) {
}
@media (min-width: 900px) {
  .wrapper {
   margin: 0 10%;
  }

}